<div class="row">
    <div class="col-lg-6 col-sm-12 col-lg-offset-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Usuarios
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div class="list-group">
                            <div class="list-group-item">
                                Ingresa el email de un usuario para buscarlo:
                            </div>
                            <div class="list-group-item">
                                <form name="formSearch">
                                    <input type="email"
                                           placeholder="email del usuario"
                                           name="email"
                                           required
                                           ng-model="model.emailSearchUser">
                                    <button type="button" class="btn btn-success btn-sm"
                                            ng-disabled="formSearch.$invalid"
                                            ng-click="model.searchUser()">Buscar
                                    </button>
                                    <br>
                                    <label class="text-danger" ng-bind="model.errorSearch"></label>
                                </form>
                                <!--<h6 id="notFound" ng-hide="model.userInformation">El usuario no ha sido encontrado</h6>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default"
                     ng-show="model.userInformation">
                    <div class="panel-body">
                        <div class="list-group"
                             style="cursor:pointer;"
                             ng-click="model.goToUserDetails(model.userInformation._id)">
                            <div class="list-group-item">
                                <strong>Nombre</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>{{model.userInformation.name}}
                                        {{model.userInformation.lastname}}</em></strong>
                                </span>
                            </div>
                            <div class="list-group-item">
                                <strong>Email</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>{{model.userInformation.email}}</em></strong>
                                </span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm"
                                ng-click="model.goToUserDetails(model.userInformation._id)">Detalles
                        </button>
                        <button type="button" class="btn btn-danger btn-sm"
                                ng-click="model.deleteUser(model.userInformation._id)">Eliminar
                        </button>
                    </div>
                </div>
                <div class="panel panel-default"
                     ng-repeat="user in model.users">
                    <div class="panel-body">
                        <div class="list-group"
                             style="cursor:pointer;"
                             ng-click="model.goToUserDetails(user._id)">
                            <div class="list-group-item">
                                Nombre
                                <span class="pull-right text-muted">
                                    <em>{{user.name}} {{user.lastname}}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                Email
                                <span class="pull-right text-muted">
                                    <em>{{user.email}}</em>
                                </span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-sm"
                                ng-click="model.goToUserDetails(user._id)">Detalles
                        </button>
                        <button type="button" class="btn btn-success btn-sm"
                                ng-click="model.deleteUser(user._id)">Eliminar
                        </button>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="model.showMoreBool">
                    <div class="panel-body text-center">
                        <button type="button" class="btn btn-success btn-sm"
                                ng-click="model.getUsers()">Buscar M&aacute;s
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>