<div class="row">
    <div>
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Usuarios
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div class="list-group">
                            <div class="inner-block">
                                Ingresa el email de un usuario para buscarlo:
                            </div>
                            <div class="inner-block">
                                <form name="formSearch">
                                    <input type="email"
                                        placeholder="email del usuario"
                                        name="email"
                                        required
                                        ng-model="model.emailSearchUser">
                                    <button type="button" class="btn btn-success btn-sm"
                                        ng-disabled="formSearch.$invalid"
                                        ng-click="model.searchUser()">Buscar
                                    </button>
                                    <br>
                                    <label class="text-danger" ng-bind="model.errorSearch"></label>
                                </form>
                                <!--<h6 id="notFound" ng-hide="model.userInformation">El usuario no ha sido encontrado</h6>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default"
                     ng-show="model.userInformation">
                    <div class="panel-body">
                        <div class="list-group"
                             style="cursor:pointer;"
                             ng-click="model.goToUserDetails(model.userInformation._id)">
                            <div class="list-group-item">
                                <strong>Nombre</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>{{model.userInformation.name}}
                                        {{model.userInformation.lastname}}</em></strong>
                                </span>
                            </div>
                            <div class="list-group-item">
                                <strong>Email</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>{{model.userInformation.email}}</em></strong>
                                </span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm"
                                ng-click="model.goToUserDetails(model.userInformation._id)">Detalles
                        </button>
                        <button type="button" class="btn btn-danger btn-sm"
                                ng-click="model.deleteUser(model.userInformation._id)">Eliminar
                        </button>
                    </div>
                </div>

                <div class="panel panel-default" style="margin-bottom: 40px; width:100%">
                    <div class="panel-heading"><b>Listado de Usuarios</b></div>
                    <div class="panel panel-default">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Email</th>
                                <th>Total Servicios</th>
                                <th>Detalle</th>
                                <th>Eliminar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr ng-repeat="bin in bins.all">-->
                            <tr ng-repeat="(key, user) in model.users" >
                                <td>{{user.name}}</td>
                                <td>{{user.lastname}}</td>
                                <td>{{user.email}}</td>
                                <td align="middle">{{user.stats.created_services}}</td>
                                <td><button type="button" class="btn btn-success btn-sm"
                                            ng-click="model.goToUserDetails(user._id)">Detalle
                                </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm"
                                            ng-click="model.deleteUser(user._id)"> Eliminar
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <paging
                            class="small paging-block post-title"
                            page="model.pagingInfo.currentPage"
                            page-size="model.pagingInfo.pageSize"
                            total="model.pagingInfo.totalRecords"
                            adjacent="{{adjacent}}"
                            dots="{{dots}}"
                            scroll-top="true"
                            hide-if-empty="{{hideIfEmpty}}"
                            ul-class="{{ulClass}}"
                            active-class="{{activeClass}}"
                            disabled-class="{{disabledClass}}"
                            show-prev-next="true"
                            paging-action="model.getUsers(page)">
                    </paging>
                </div>
            </div>
        </div>
    </div>
</div>