<div layout="column" layout-align="center center" class="solo-box">
	<md-card class="big-form">
		<div>
			<md-toolbar>
			<div class="md-toolbar-tools" layout-align="center center">
				<span class="md-flex">Usuarios</span>
			</div>
			</md-toolbar>
		</div >

		<div id="addNewMessenger" >
						<div id="searchUserDiv">
							<h6 class="titleField">Ingresa el email de un usuario para buscarlo</h6>
							<md-input-container flex>
							<label>Ingresa un email para buscar un usuario</label>
			            	<input type="text" name="email" ng-model="model.emailSearchUser" ng-pattern="/^[A-Za-z0-9._%+]+@[A-Za-z0-9]+\.[A-Za-z]{1,5}$/" >
			        		</md-input-container>

							<md-button class="blueButton"  ng-click="model.searchUser()">Buscar</md-button>
						</div>
						


						<md-card class="md-default-theme"  ng-show="model.userInformation">
							<div>
								<div id="containerInfoSearch" ng-click="model.goToUserDetails(model.userInformation._id)">
								<label class="titleInsideCards"> Nombre</label>
								<h6 class="textInsideCards">{{model.userInformation.name}} {{model.userInformation.lastname}}</h6>
								<label class="titleInsideCards"> Email</label>
								<h6 class="textInsideCards">{{model.userInformation.email}}</h6>
								
							</div>
							<div id="colorBox"></div>
								
							</div>
							
							<div>
								<md-divider></md-divider>
								<md-button class="md-primary v-margin-btn" ng-click="model.goToUserDetails(user._id)">Detalles</md-button>
								<md-button class="md-primary v-margin-btn" ng-click="model.deleteUser(user._id)">Eliminar</md-button>
								</div>
						</md-card>
		</div>


	
		<md-card class="md-default-theme" ng-repeat="user in model.users" >
				<div id="containerInfo"  ng-click="model.goToUserDetails(user._id)">
					<label class="titleInsideCards"> Nombre</label>
					<h6 class="textInsideCards">{{user.name}} {{user.lastname}}</h6>
					<label class="titleInsideCards"> Email</label>
					<h6 class="textInsideCards">{{user.email}}</h6>
					
				</div>
				<div>
					<md-divider></md-divider>
					<md-button class="md-primary v-margin-btn" ng-click="model.goToUserDetails(user._id)">Detalles</md-button>
					<md-button class="md-primary v-margin-btn" ng-click="model.deleteUser(user._id)">Eliminar</md-button>
				</div>
		</md-card>
		<md-button class="md-primary v-margin-btn" ng-click="model.getUsers()" ng-show="model.showMoreBool">BUSCAR MAS</md-button>
	</md-card>
</div>