<div layout="column" layout-align="center center" class="solo-box">
	<md-card class="basic-form">
	<div>
		<md-toolbar>
		<div class="md-toolbar-tools" layout-align="center center">
			<span class="md-flex">Recuperar Contraseña</span>
		</div>
		</md-toolbar>
	</div>
	<div>
		<form name="recoverForm" ng-submit="model.loginUser()" novalidate>
			
			<md-input-container flex>
			<label>Escriba su email</label>
			<input type="text" name="email" ng-model="model.email" ng-pattern="/^[A-Za-z0-9._%+]+@[A-Za-z0-9]+\.[A-Za-z]{1,5}$/" required>
			
			</md-input-container>
			
			<md-input-container flex>
			<md-button class="md-raised primary-btn" ng-click="model.recoverPass()" >Recuperar</md-button>
			<md-button class="md-raised primary-btn" ng-click="model.goLogin()" >Volver</md-button>
			</md-input-container>
		</form>
	</div>
	</md-card>
</div>