<div class="row">
    <div>
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Detalles del Usuario
            </div>
            <div class="panel-body">
                <form name="profileForm" novalidate ng-submit="model.updateProfile()">
                    <div class="form-group">
                        <label for="newName">
                            Nombre:
                        </label>
                        <input name="newName"
                               id="newName"
                               type="text"
                               class="form-control"
                               placeholder="Nombre del Usuario"
                               required
                               ng-model="model.User.name">
                    </div>
                    <div class="form-group">
                        <label for="newLastname">
                            Apellido:
                        </label>
                        <input name="newLastname"
                               id="newLastname"
                               type="text"
                               class="form-control"
                               placeholder="Apellido del Usuario"
                               required
                               ng-model="model.User.lastname">
                    </div>
                    <div class="form-group">
                        <label for="newMobilephone">
                            Número de celular del usuario:
                        </label>
                        <input name="newMobilephone"
                               id="newMobilephone"
                               type="text"
                               class="form-control"
                               placeholder="Número de Celular del usuario"
                               required
                               ng-model="model.User.mobilephone">
                    </div>
                    <div class="form-group">
                        <label>
                            Email:
                        </label>
                        <label class="form-control">{{::model.User.email}}</label>
                    </div>
                    <div class="col-lg-12 text-center">
                        <button class="btn btn-success"
                                ng-disabled="profileForm.$invalid"
                                type="submit">Actualizar datos
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12 col-lg-offset-3 services-accordion">
        <accordion close-others="true">
            <accordion-group ng-show="model.verifyAvailableservices()"
                             is-open="model.availableServicesBool">
                <accordion-heading style="cursor:pointer;">
                    Servicios sin aceptar <i class="pull-right fa"
                                             ng-class="{'fa-plus': !model.availableServicesBool, 'fa-minus': model.availableServicesBool}"></i>
                </accordion-heading>
                <div class="panel panel-default"
                     ng-repeat="item in model.activeServices"
                     ng-show="item.status == 'available'"
                     ng-click="model.goToServiceDetails(item._id)">
                    <div class="panel-body">
                        <div class="list-group"
                             style="cursor:pointer;">
                            <div class="list-group-item">
                                Pedido
                                <span class="pull-right text-muted">
                                    <em>{{item.item_name}}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                Dirección de recogida
                                <span class="pull-right text-muted">
                                    <em>{{item.pickup_object.address}}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                Dirección de entrega
                                <span class="pull-right text-muted">
                                    <em>{{item.delivery_object.address}}</em>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group ng-show="model.verifyAceptedservices()"
                             is-open="model.acceptedServicesBool">
                <accordion-heading style="cursor:pointer;">
                    Servicios aceptados <i class="pull-right fa"
                                           ng-class="{'fa-plus': !model.acceptedServicesBool, 'fa-minus': model.acceptedServicesBool}"></i>
                </accordion-heading>
                <div class="panel panel-default"
                     ng-repeat="item in model.activeServices"
                     ng-show="item.status != 'available'"
                     ng-click="model.goToServiceDetails(item._id)">
                    <div class="panel-body">
                        <div class="list-group"
                             style="cursor:pointer;">
                            <div class="list-group-item">
                                Pedido
                                <span class="pull-right text-muted">
                                    <em>{{item.item_name}}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                Dirección de recogida
                                <span class="pull-right text-muted">
                                    <em>{{item.pickup_object.address}}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                Dirección de entrega
                                <span class="pull-right text-muted">
                                    <em>{{item.delivery_object.address}}</em>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group ng-show="model.completedServices.length!=0"
                             is-open="model.completedServicesBool">
                <accordion-heading style="cursor:pointer;">
                    Servicios completados <i class="pull-right fa"
                                             ng-class="{'fa-plus': !model.completedServicesBool, 'fa-minus': model.completedServicesBool}"></i>
                </accordion-heading>
                <div class="panel panel-default"
                     ng-repeat="item in model.completedServices"
                     ng-show="item.status != 'available'"
                     ng-click="model.goToServiceDetails(item._id)">
                    <div class="panel-body">
                        <div class="list-group"
                             style="cursor:pointer;">
                            <div class="list-group-item">
                                Pedido
                                <span class="pull-right text-muted">
                                    <em>{{item.item_name}}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                Dirección de recogida
                                <span class="pull-right text-muted">
                                    <em>{{item.pickup_object.address}}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                Dirección de entrega
                                <span class="pull-right text-muted">
                                    <em>{{item.delivery_object.address}}</em>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
            <accordion-group ng-show="model.abortedServices.length!=0"
                             is-open="model.abortedServicesBool">
                <accordion-heading style="cursor:pointer;">
                    Servicios abortados <i class="pull-right fa"
                                           ng-class="{'fa-plus': !model.abortedServicesBool, 'fa-minus': model.abortedServicesBool}"></i>
                </accordion-heading>
                <div class="panel panel-default"
                     ng-repeat="item in model.abortedServices"
                     ng-show="item.status != 'available'"
                     ng-click="model.goToServiceDetails(item._id)">
                    <div class="panel-body">
                        <div class="list-group"
                             style="cursor:pointer;">
                            <div class="list-group-item">
                                Pedido
                                <span class="pull-right text-muted">
                                    <em>{{item.item_name}}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                Dirección de recogida
                                <span class="pull-right text-muted">
                                    <em>{{item.pickup_object.address}}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                Dirección de entrega
                                <span class="pull-right text-muted">
                                    <em>{{item.delivery_object.address}}</em>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>