<div class="row">
	<div>
		<div class="panel panel-yellow">
			<div class="panel-heading">
				Busqueda de Servicios
			</div>
			<div class="panel-body">
				<form>
				  <div class="form-group">
					<label for="exampleInputEmail1">Tipo de Servicio</label>
					<select class="form-control" ng-model="model.selectedServiceType" ng-change="model.loadServicesByType(model.selectedServiceType)">
						<option ng-repeat="type in model.serviceTypes" ng-value="type.key" ng-selected="type.text == 'Disponible'">{{type.text}}</option>
					</select>
				  </div>
				</form>
				<div class="panel panel-default" style="margin-bottom: 40px; width:100%">
					<div class="panel-heading"><b>Listado de Servicios</b></div>
					<div class="panel panel-default">
						<table class="table">
							<thead>
							<tr>
								<th>Servicio</th>
								<th>Usuario</th>
								<th>Mensajero</th>
								<th>Valor</th>
								<th>Fecha</th>
								<th>Detalle</th>
							</tr>
							</thead>
							<tbody>
							<!--<tr ng-repeat="bin in bins.all">-->
							<tr ng-repeat="(key, service) in model.currentServices" >
								<td>{{service.item_name}}</td>
								<td>{{service.user_info.name}}</td>
								<td>{{service.messenger_info.name}} {{service.messenger_info.lastname}}</td>
								<td>{{service.price_to_pay}}</td>
								<td>{{service.date_created}}</td>
								<td><button type="button" class="btn btn-success btn-sm"
											ng-click="model.goToServiceDetails(service._id)">Detalle
								</button>
								</td>
							</tr>
							<tr ng-show="model.currentServices.length==0" >
								<td colspan="6">No se encontraron servicios
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<paging
							class="small paging-block post-title"
							page="model.pagingInfo.currentPage"
							page-size="model.pagingInfo.pageSize"
							total="model.pagingInfo.totalRecords"
							adjacent="{{adjacent}}"
							dots="{{dots}}"
							scroll-top="true"
							hide-if-empty="{{hideIfEmpty}}"
							ul-class="{{ulClass}}"
							active-class="{{activeClass}}"
							disabled-class="{{disabledClass}}"
							show-prev-next="true"
							paging-action="model.loadServicesByType(model.selectedServiceType,page)">
					</paging>
				</div>
			</div>
		</div>
	</div>
</div>