<div class="row">
    <div class="col-lg-6 col-sm-12 col-lg-offset-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Servicios
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <!--
                        <div class="list-group">
                            <div class="list-group-item">
                                Ingrese dato para buscarlo
                            </div>
                            <div class="list-group-item">
                                <form name="formSearch">
                                    <input type="email"
                                           placeholder="dato del servicio"
                                           name="email"
                                           required
                                           ng-model="model.emailSearchMessenger">
                                    <button type="button" class="btn btn-success btn-sm"
                                            ng-disabled="formSearch.$invalid"
                                            ng-click="model.searchMessenger()">Buscar
                                    </button>
                                </form>
                                <h6 id="notFound" ng-show="!model.wasFoundBool">El mensajero no ha sido encontrado</h6>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
                <accordion>
                    <accordion-group is-open="model.availableServicesBool">
                        <accordion-heading style="cursor:pointer;" class="color-white">
                            Servicios Disponibles
                            <i class="pull-right fa"
                               ng-class="{'fa-plus': !model.availableServicesBool,
                               'fa-minus': model.availableServicesBool}">
                            </i>
                        </accordion-heading>
                        <div class="panel panel-default"
                             ng-repeat="item in model.services.available"
                             ng-click="model.goToServiceDetails(item._id)">
                            <div class="panel-body">
                                <div class="list-group"
                                     style="cursor:pointer;">
                                    <div class="list-group-item">
                                        Pedido
                                        <span class="pull-right text-muted">
                                            <em>{{::item.item_name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de recogida
                                        <span class="pull-right text-muted">
                                            <em>{{::item.pickup_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de entrega
                                        <span class="pull-right text-muted">
                                            <em>{{::item.delivery_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Usuario
                                        <span class="pull-right text-muted">
                                            <em>{{::item.user_info.name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Mensajero
                                        <span class="pull-right text-muted">
                                            <em>{{::item.messenger_info.name}} {{::item.messenger_info.lastname}}</em>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="model.acceptedServicesBool">
                        <accordion-heading style="cursor:pointer;">
                            Servicios Aceptados
                            <i class="pull-right fa"
                               ng-class="{'fa-plus': !model.acceptedServicesBool,
                               'fa-minus': model.acceptedServicesBool}">

                            </i>
                        </accordion-heading>
                        <div class="panel panel-default"
                             ng-repeat="item in model.services.accepteds"
                             ng-click="model.goToServiceDetails(item._id)">
                            <div class="panel-body">
                                <div class="list-group"
                                     style="cursor:pointer;">
                                    <div class="list-group-item">
                                        Pedido
                                        <span class="pull-right text-muted">
                                            <em>{{::item.item_name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de recogida
                                        <span class="pull-right text-muted">
                                            <em>{{::item.pickup_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de entrega
                                        <span class="pull-right text-muted">
                                            <em>{{::item.delivery_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Usuario
                                        <span class="pull-right text-muted">
                                            <em>{{::item.user_info.name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Mensajero
                                        <span class="pull-right text-muted">
                                            <em>{{::item.messenger_info.name}} {{::item.messenger_info.lastname}}</em>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </accordion-group>


                    <accordion-group is-open="model.inTransitServiceBool">
                        <accordion-heading style="cursor:pointer;">
                            Servicios en transito
                            <i class="pull-right fa"
                               ng-class="{'fa-plus': !model.inTransitServiceBool,
                               'fa-minus': model.inTransitServiceBool}">
                            </i>
                        </accordion-heading>
                        <div class="panel panel-default"
                             ng-repeat="item in model.services.inTransits"
                             ng-click="model.goToServiceDetails(item._id)">
                            <div class="panel-body">
                                <div class="list-group"
                                     style="cursor:pointer;">
                                    <div class="list-group-item">
                                        Pedido
                                        <span class="pull-right text-muted">
                                            <em>{{::item.item_name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de recogida
                                        <span class="pull-right text-muted">
                                            <em>{{::item.pickup_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de entrega
                                        <span class="pull-right text-muted">
                                            <em>{{::item.delivery_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Usuario
                                        <span class="pull-right text-muted">
                                            <em>{{::item.user_info.name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Mensajero
                                        <span class="pull-right text-muted">
                                            <em>{{::item.messenger_info.name}} {{::item.messenger_info.lastname}}</em>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </accordion-group>


                    <accordion-group is-open="model.deliveredServiceBool">
                        <accordion-heading style="cursor:pointer;">
                            Servicios entregados <i class="pull-right fa"
                                ng-class="{'fa-plus': !model.deliveredServiceBool,
                                'fa-minus': model.deliveredServiceBool}">
                            </i>
                        </accordion-heading>
                        <div class="panel panel-default"
                             ng-repeat="item in model.services.delivereds"
                             ng-click="model.goToServiceDetails(item._id)">
                            <div class="panel-body">
                                <div class="list-group"
                                     style="cursor:pointer;">
                                    <div class="list-group-item">
                                        Pedido
                                        <span class="pull-right text-muted">
                                            <em>{{::item.item_name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de recogida
                                        <span class="pull-right text-muted">
                                            <em>{{::item.pickup_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de entrega
                                        <span class="pull-right text-muted">
                                            <em>{{::item.delivery_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Usuario
                                        <span class="pull-right text-muted">
                                            <em>{{::item.user_info.name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Mensajero
                                        <span class="pull-right text-muted">
                                            <em>{{::item.messenger_info.name}} {{::item.messenger_info.lastname}}</em>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </accordion-group>


                    <accordion-group is-open="model.returningServiceBool">
                        <accordion-heading style="cursor:pointer;">
                            Servicios retornando <i class="pull-right fa"
                                ng-class="{'fa-plus': !model.returningServiceBool,
                                'fa-minus': model.returningServiceBool}">
                            </i>
                        </accordion-heading>
                        <div class="panel panel-default"
                             ng-repeat="item in model.services.returning"
                             ng-click="model.goToServiceDetails(item._id)">
                            <div class="panel-body">
                                <div class="list-group"
                                     style="cursor:pointer;">
                                    <div class="list-group-item">
                                        Pedido
                                        <span class="pull-right text-muted">
                                            <em>{{::item.item_name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de recogida
                                        <span class="pull-right text-muted">
                                            <em>{{::item.pickup_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de entrega
                                        <span class="pull-right text-muted">
                                            <em>{{::item.delivery_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Usuario
                                        <span class="pull-right text-muted">
                                            <em>{{::item.user_info.name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Mensajero
                                        <span class="pull-right text-muted">
                                            <em>{{::item.messenger_info.name}} {{::item.messenger_info.lastname}}</em>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="model.returnedServiceBool">
                        <accordion-heading style="cursor:pointer;">
                            Servicios regresados <i class="pull-right fa"
                                ng-class="{'fa-plus': !model.returnedServiceBool,
                                'fa-minus': model.returnedServiceBool}">
                            </i>
                        </accordion-heading>
                        <div class="panel panel-default"
                             ng-repeat="item in model.services.returneds"
                             ng-click="model.goToServiceDetails(item._id)">
                            <div class="panel-body">
                                <div class="list-group"
                                     style="cursor:pointer;">
                                    <div class="list-group-item">
                                        Pedido
                                        <span class="pull-right text-muted">
                                            <em>{{::item.item_name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de recogida
                                        <span class="pull-right text-muted">
                                            <em>{{::item.pickup_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de entrega
                                        <span class="pull-right text-muted">
                                            <em>{{::item.delivery_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Usuario
                                        <span class="pull-right text-muted">
                                            <em>{{::item.user_info.name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Mensajero
                                        <span class="pull-right text-muted">
                                            <em>{{::item.messenger_info.name}} {{::item.messenger_info.lastname}}</em>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="model.canceledsServiceBool">
                        <accordion-heading style="cursor:pointer;">
                            Servicios cancelados <i class="pull-right fa"
                                ng-class="{'fa-plus': !model.canceledsServiceBool,
                                'fa-minus': model.canceledsServiceBool}">
                            </i>
                        </accordion-heading>
                        <div class="panel panel-default"
                             ng-repeat="item in model.services.cancelleds"
                             ng-click="model.goToServiceDetails(item._id)">
                            <div class="panel-body">
                                <div class="list-group"
                                     style="cursor:pointer;">
                                    <div class="list-group-item">
                                        Pedido
                                        <span class="pull-right text-muted">
                                            <em>{{::item.item_name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de recogida
                                        <span class="pull-right text-muted">
                                            <em>{{::item.pickup_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de entrega
                                        <span class="pull-right text-muted">
                                            <em>{{::item.delivery_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Usuario
                                        <span class="pull-right text-muted">
                                            <em>{{::item.user_info.name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Mensajero
                                        <span class="pull-right text-muted">
                                            <em>{{::item.messenger_info.name}} {{::item.messenger_info.lastname}}</em>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </accordion-group>

                    <accordion-group is-open="model.abortedServiceBool">
                        <accordion-heading style="cursor:pointer;">
                            Servicios cancelados <i class="pull-right fa"
                                ng-class="{'fa-plus': !model.abortedServiceBool,
                                'fa-minus': model.abortedServiceBool}">
                            </i>
                        </accordion-heading>
                        <div class="panel panel-default"
                             ng-repeat="item in model.services.aborteds"
                             ng-click="model.goToServiceDetails(item._id)">
                            <div class="panel-body">
                                <div class="list-group"
                                     style="cursor:pointer;">
                                    <div class="list-group-item">
                                        Pedido
                                        <span class="pull-right text-muted">
                                            <em>{{::item.item_name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de recogida
                                        <span class="pull-right text-muted">
                                            <em>{{::item.pickup_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Dirección de entrega
                                        <span class="pull-right text-muted">
                                            <em>{{::item.delivery_object.address}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Usuario
                                        <span class="pull-right text-muted">
                                            <em>{{::item.user_info.name}}</em>
                                        </span>
                                    </div>
                                    <div class="list-group-item">
                                        Mensajero
                                        <span class="pull-right text-muted">
                                            <em>{{::item.messenger_info.name}} {{::item.messenger_info.lastname}}</em>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </accordion-group>

                </accordion>
            </div>
        </div>
    </div>
</div>