<div class="row">
    <div>
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Detalles del Servicio
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div>
                        <div>
                            <div class="inner-block">
                                <strong>Nombre del Usuario</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>
                                        {{model.deliveryItemInfo.user_info.name}}
                                        {{model.deliveryItemInfo.user_info.lastname}}
                                    </em></strong>
                                </span>
                            </div>

                            <div class="inner-block">
                                <strong>Nombre de Servicio</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>
                                        {{model.deliveryItemInfo.item_name}}
                                    </em></strong>
                                </span>
                            </div>

                            <div class="inner-block">
                                <strong>Lugar de Recogida</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>
                                        {{model.deliveryItemInfo.pickup_object.address}}
                                    </em></strong>
                                </span>
                            </div>

                            <div class="inner-block">
                                <strong>Lugar de Entrega</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>
                                        {{model.deliveryItemInfo.delivery_object.address}}
                                    </em></strong>
                                </span>
                            </div>

                            <div class="inner-block">
                                <strong>Fecha de Recogida</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>
                                        {{model.deliveryItemInfo.date_created | date:'dd/MM/yyyy hh:mma'}}
                                    </em></strong>
                                </span>
                            </div>

                            <div class="inner-block">
                                <strong>Valor Aproximado del Servicio</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>
                                        COP {{model.deliveryItemInfo.price_to_pay}}
                                    </em></strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-yellow" ng-show="model.deliveryItemInfo.messenger_info">
            <div class="panel-heading">
                Información del mensajero
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div>
                        <div class="list-group">

                            <div class="inner-block">
                                <strong>Nombre del Mensajero</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>
                                        {{model.deliveryItemInfo.messenger_info.name}}
                                        {{model.deliveryItemInfo.messenger_info.lastname}}
                                    </em></strong>
                                </span>
                            </div>

                            <div class="inner-block">
                                <strong>Teléfono</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>
                                        {{model.deliveryItemInfo.messenger_info.mobilephone}}
                                    </em></strong>
                                </span>
                            </div>

                            <div class="inner-block">
                                <strong>ETA</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>
                                        {{model.leftTime}} min
                                    </em></strong>
                                </span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm pull-right" style="margin-top: 20px;"
                                ng-click="model.removeMessenger()">Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-yellow" ng-show="!model.messengerBool">
            <div class="panel-heading">
                Asignar Mensajero
            </div>
            <div>
                <div class="panel panel-default">
                    <div class="panel-body" style="text-align: center;">
                        <div class="list-group">
                            <div class="inner-block text-center">
                                Este servicio no ha sido aceptado aún, si deseas asignar este servicio a un mensajero,
                                búscalo por su email y luego presiona añadir
                            </div>
                            <div class="inner-block">
                                <form name="formSearch" ng-submit="model.searchMessenger()">
                                    <input class="form-control" type="text" name="email"
                                           ng-model="model.emailSearchMessenger"
                                           ng-pattern="/^[A-Za-z0-9._%+]+@[A-Za-z0-9]+\.[A-Za-z]{1,5}$/">
                                    <button class="btn btn-success btn-sm margin-top-1rem"
                                            ng-disabled="formSearch.$invalid">
                                        Buscar
                                    </button>
                                </form>
                            </div>

                            <div class="panel panel-default" ng-show="model.messenger_info">
                                <div>
                                    <div class="list-group">
                                        <div class="inner-block text-center">
                                            Datos del mensajero encontrado
                                        </div>

                                        <div class="inner-block">
                                            <strong>Nombre:</strong>
                                            <span class="pull-right text-muted">
                                                <strong><em>
                                                    {{model.messenger_info.name}} {{model.messenger_info.lastname}}
                                                </em></strong>
                                            </span>
                                        </div>

                                        <div class="inner-block">
                                            <strong>Celular:</strong>
                                            <span class="pull-right text-muted">
                                                <strong><em>
                                                    {{model.messenger_info.mobilephone}}
                                                </em></strong>
                                            </span>
                                        </div>
                                    </div>
                                    <button class="btn btn-success" ng-click="model.assingMessenger()"
                                            ng-show="model.messenger_info">Asignar
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-yellow" ng-show="model.imageBool">
            <div class="panel-heading">
                Fotos del servicio
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <img class="img-thumbnail margin-center" ng-repeat="image in model.images" ng-src="{{image.url}}"
                             ng-click="model.showBigImage(image.url)">
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-yellow">
            <div class="panel-heading">
                Estado actual del Servicio:
            </div>
            <div>
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-body">
                        <div class="list-group">

                            <div class="list-group-item">
                                <strong>{{model.serviceStatus}}</strong>
                                <span class="pull-right text-muted">
                                    <strong ng-show="model.setAvailableButtonBool"><em>
                                        Razón: {{model.deliveryItemInfo.abort_reason}}
                                    </em></strong>
                                </span>
                            </div>

                            <div>
                                <div class="panel-body" style="padding-left: 0;padding-right: 0;">
                                    <div class="panel panel-yellow">
                                        <div class="panel-heading">
                                            Asignar estado del servicio
                                        </div>
                                        <div class="panel-body" ng-show="!model.deliveryItemInfo.roundtrip">
                                            <div class="panel panel-default">
                                                <div>
                                                    <div>
                                                        <div class="list-group-item">
                                                            <strong>Disponible</strong>
                                                            <span class="pull-right text-muted">
                                                                <strong><em>
                                                                    <label class="cursor-pointer" for="state1-available">Disponible</label>
                                                                    <input class="cursor-pointer pull-right" id="state1-available" ng-model="model.newState" type="radio"
                                                                           value="available"/>
                                                                </em></strong>
                                                            </span>
                                                        </div>
                                                        <div class="list-group-item">
                                                            <strong>Aceptado</strong>
                                                            <span class="pull-right text-muted">
                                                                <strong><em>
                                                                    <label class="cursor-pointer" for="state1-accepted">Aceptado</label>
                                                                    <input class="cursor-pointer pull-right" id="state1-accepted" ng-model="model.newState" type="radio"
                                                                           value="accepted"/>
                                                                </em></strong>
                                                            </span>
                                                        </div>

                                                        <div class="list-group-item">
                                                            <strong>En tránsito</strong>
                                                            <span class="pull-right text-muted">
                                                                <strong><em>
                                                                    <label class="cursor-pointer" for="state1-in-intransit">En tránsito</label>
                                                                    <input class="cursor-pointer pull-right" id="state1-in-intransit" ng-model="model.newState" type="radio"
                                                                           value="in-transit"/>
                                                                </em></strong>
                                                            </span>
                                                        </div>

                                                        <div class="list-group-item">
                                                            <strong>Entregado</strong>
                                                                <span class="pull-right text-muted">
                                                                    <strong><em>
                                                                        <label class="cursor-pointer" for="state1-delivered">Entregado</label>
                                                                        <input class="cursor-pointer pull-right" id="state1-delivered" ng-model="model.newState" type="radio"
                                                                               value="delivered"/>
                                                                    </em></strong>
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body" ng-show="model.deliveryItemInfo.roundtrip">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="list-group">
                                                        <div class="list-group-item">
                                                            <strong>Disponible</strong>
                                                            <span class="pull-right text-muted">
                                                                <strong><em>
                                                                    <label class="cursor-pointer" for="state2-available">Disponible</label>
                                                                    <input class="cursor-pointer" id="state2-available" ng-model="model.newState" type="radio"
                                                                           value="available"/>
                                                                </em></strong>
                                                            </span>
                                                        </div>
                                                        <div class="list-group-item">
                                                            <strong>Aceptado</strong>
                                                            <span class="pull-right text-muted">
                                                                <strong><em>
                                                                    <label class="cursor-pointer" for="state2-accepted">Aceptado</label>
                                                                    <input class="cursor-pointer" id="state2-accepted" ng-model="model.newState" type="radio"
                                                                           value="accepted"/>
                                                                </em></strong>
                                                            </span>
                                                        </div>
                                                        <div class="list-group-item">
                                                            <strong>En tránsito</strong>
                                                            <span class="pull-right text-muted">
                                                                <strong><em>
                                                                    <label class="cursor-pointer" for="state2-returning">Volviendo</label>
                                                                    <input class="cursor-pointer" id="state2-returning" ng-model="model.newState" type="radio"
                                                                           value="returning"/>
                                                                </em></strong>
                                                            </span>
                                                        </div>
                                                        <div class="list-group-item">
                                                            <strong>Entregado</strong>
                                                            <span class="pull-right text-muted">
                                                                <strong><em>
                                                                    <label class="cursor-pointer" for="state2-returned">Retornado</label>
                                                                    <input class="cursor-pointer" id="state2-returned" ng-model="model.newState" type="radio"
                                                                           value="returned"/>
                                                                </em></strong>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="margin-1rem btn btn-success" ng-click="model.changeStatus()">Poner estado
                                        </button>
                                        <button class="margin-1rem btn btn-danger" ng-click="model.cancelService()"
                                                ng-show="model.deliveryItemInfo.status!== 'available'">Abortar Servicio
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
