<div class="row">
    <div class="col-lg-6 col-sm-12 col-lg-offset-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                Mensajeros
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div class="list-group">
                            <div class="list-group-item">
                                Ingresa el email de un mensajero para buscarlo:
                            </div>
                            <div class="list-group-item">
                                <form name="formSearch">
                                    <input type="email"
                                           placeholder="email del mensajero"
                                           name="email"
                                           required
                                           ng-model="model.emailSearchMessenger">
                                    <button type="button" class="btn btn-success btn-sm"
                                            ng-disabled="formSearch.$invalid"
                                            ng-click="model.searchMessenger()">Buscar
                                    </button>
                                </form>
                                <h6 id="notFound" ng-show="!model.wasFoundBool">El mensajero no ha sido encontrado</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default"
                     ng-show="model.messenger_info">
                    <div class="panel-body">
                        <div class="list-group"
                             style="cursor:pointer;"
                             ng-click="model.goToMessengerDetails(model.messenger_info._id)">
                            <div class="list-group-item">
                                <strong>Nombre</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>{{model.messenger_info.name}}
                                        {{model.messenger_info.lastname}}</em></strong>
                                </span>
                            </div>
                            <div class="list-group-item">
                                <strong>Email</strong>
                                <span class="pull-right text-muted">
                                    <strong><em>{{model.messenger_info.email}}</em></strong>
                                </span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm"
                                ng-click="model.goToMessengerDetails(model.messenger_info._id)">Detalles
                        </button>
                        <button type="button" class="btn btn-danger btn-sm"
                                ng-click="model.deleteUser(model.messenger_info._id)">Eliminar
                        </button>
                    </div>
                </div>
                <div class="panel panel-default"
                     ng-repeat="messenger in model.messengers">
                    <div class="panel-body">
                        <div class="list-group"
                             ng-click="model.goToMessengerDetails(messenger._id)"
                             style="cursor:pointer;">
                            <div class="list-group-item">
                                Nombre
                                <span class="pull-right text-muted">
                                    <em>{{messenger.name}} {{messenger.lastname}}</em>
                                </span>
                            </div>
                            <div class="list-group-item">
                                Email
                                <span class="pull-right text-muted">
                                    <em>{{messenger.email}}</em>
                                </span>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-sm"
                                ng-click="model.goToMessengerDetails(messenger._id)">Detalles
                        </button>
                        <button type="button" class="btn btn-success btn-sm"
                                ng-click="model.deleteUser(messenger._id)">Eliminar
                        </button>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="model.showMoreBool">
                    <div class="panel-body text-center">
                        <button type="button" class="btn btn-success btn-sm"
                                ng-click="model.getMessengers()">Buscar M&aacute;s
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>